.h5 {
    font-size: 1rem ;
}

.low {
    background-color: green;
}

.moderate {
background-color: yellow;
}

.high {
    background-color: red;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.history {
    font-size: x-large;
}